$primary: #202020;
$secondary: #121212;
$white: #fff;
$dark: #11131e;
$green-dark: #428198;
$green: #428198;
$grey-light: #e1e1e1;
$grey: #b8b8b8;
$grey2: #c4c4c4;
$red: #c3624c;
$yellow: #d8bc47;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

// $sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
