//fonts
@import './fonts.scss';

// Bootsrap 5 Grid system
// @import '../../../node_modules/bootstrap/scss/functions';
// @import '../../../node_modules/bootstrap/scss/variables';
// @import '../../../node_modules/bootstrap/scss/mixins';

// @import '../../../node_modules/bootstrap/scss/containers';
// @import '../../../node_modules/bootstrap/scss/grid';
@import 'vendor/reset';
@import 'vars';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

//typography
@import 'typography.scss';

/* Blocks */
@import 'blocks/hero.scss';
